
<h1>Sample Sinatra- Palindrome Detection</h1>

<p>
  This is the sample Sinatra app for
  <a href="https://www.learnenough.com/ruby-tutorial"><em>Learn Enough Ruby
  to Be Dangerous</em></a>. Learn more on the <a href="/about">About</a> page.
</p>

<p>
  Click the <a href="https://en.wikipedia.org/wiki/Sator_Square">Sator
  Square</a> below to run the custom <a href="/palindrome-detector">Palindrome
  Detector</a>.
</p>

<a class="sator-square" href="/palindrome-detector">
  <img src="/images/sator_square.jpg">
</a>

<p>It is currently <%= Time.now %>.</p>
