<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Evan's LearnEnough App | <%= @title %> </title>
    <link rel="stylesheet" type="text/css" href="/style/main.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400"
          rel="stylesheet">
  </head>
  <body>
    <a href="/" class="header-logo">
      <img src="/images/logo_b.png" alt="Learn Enough logo">
    </a>
    <div class="container">
      <%= erb :navigation %>
      <div class="content">

        <%= yield %>

      </div>
    </div>
  </body>
</html>
